---
const { isUnderline, ...props } = Astro.props;
---

{
  isUnderline ? (
    <div
      class="rounded-[45px] border border-dark shadow-[0px_5px_0px_#191a23]"
      {...props}
    >
      <slot />
    </div>
  ) : (
    <div class="rounded-[45px]" {...props}>
      <slot />
    </div>
  )
}
