---
const { ...props } = Astro.props;
---

<section class="px-5 flex justify-center overflow-hidden lg:block" {...props}>
  <div class="w-full max-w-[1280px] mx-auto">
    <slot />
  </div>
</section>
