---
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";

type Props = {
  language?: string;
  title?: string;
  description?: string;
};

const { ...props } = Astro.props;
---

<!doctype html>
<html lang={props.language ?? "en"}>
  <BaseHead {...props} />
  <body class="bg-white font-grotesk">
    <slot />
  </body>
</html>
